<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Auth Starter App</title>
</head>
<body>
    <div>
        Flask Auth Starter App
        <br>
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.signup') }}">Sign Up</a>
        {% else %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% if g.current_organization %}
        <a href="{{ url_for('org.dashboard') }}">Organization Dashboard</a>
        {% endif %}
        <a href="{{ url_for('auth.select_organization') }}">Switch Organization</a>
        {% endif %}
        <br>
        <span>{{ current_user.email }}</span>
        {% if g.current_organization %}
        <span>Current Organization: {{ g.current_organization.name }}</span>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>